@font-face {
	font-family: DroidSansMono;
	src: url('../fonts/DroidSansMono.ttf');
}

/*********General*********/
body { background: #DDEAF6; }
/*********General*********/

/*********Navigation*********/
div.navbar ul.nav { float: right; padding: 20px 100px 20px 0; }
div.navbar ul.nav li { margin: 0 1em; }
div.navbar-inner { background: #75BCEF;  }
div.container ul.nav li a { color: #555555; }
/*********Navigation*********/

/*********Main Content*********/
div.container-fluid #welcomeText, div.container-fluid #howTo { text-align: center; }
div.container-fluid #welcomeText h1, div.container-fluid #howTo h1 { font-size: 2em; font-weight: 800; }
div.container-fluid #howTo img { margin: 1em 0; }
div.container-fluid #leftColumnMain { width: 90%; margin: 5em auto 0 auto; }
div.container-fluid #mainPageForm { width: 90%; margin: 5em auto 0 auto; overflow: hidden; }

div.row-fluid h1 {}
div.row-fluid p {}
/*********Main Content*********/

/*********Footer*********/
div#footerContainer { background: #75BCEF; height: 2em; margin: 2em 0 0 0; padding: 1em 0; }
div.container-fluid #footer { width: 100%; margin: 0 auto; background: #75BCEF;  padding: 0; }
div.container-fluid #footer p { text-align: center; line-height: 1.5em; }
/*********Footer*********/

/*********Social*********/
ul#social { list-style-type: none; float: right; clear: both; padding: 0; margin: 0.8em 0 0 0; }
ul#social li { display: inline; margin: 0 0.3em 0 0; }
/*********Social*********/

/*********Facts*********/
#facts { height: auto; background: #fff; border: 1px solid #75BCEF; }
#facts h1 { color: #ccc; }
/*********Facts*********/

/*********Code*********/
#code { background: #fff; font-family: DroidSansMono; border: 1px solid #75BCEF; }
/*********Code*********/

/*********Informing Text After Submitting something*********/
#informingText { display:none; background: #C11B17; color: #fff; width: 25%; height: 5%; padding: 5px; -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px;  }
/*********Informing Text After Submitting something*********/

/*********Forms*********/
div.control-group label.control-label { width: 100%; text-align: left; }
form.form-horizontal div.controls { margin: 0; width: 70%; margin: 0; padding: 0; }
form.form-horizontal div.controls input { width: 85%; }
form.form-horizontal p.help-block { color: #555555; margin: 0; padding: 0; width: 70%; }
form.form-horizontal div.form-actions { background: transparent; width: 70%; margin: 1em 0 0 0; padding: 0; }
div.form-actions button { float: left; margin: 0 1em 0 0; }
form.form-horizontal span.label { width: 50%; }
/*********Forms*********/

.navbar .nav > li > a { line-height: 62px; text-shadow:none; font-size: 16px; }
.scrollable-code { height: 470px; overflow: auto; }
.scrollable-facts { height: 120px; overflow: auto; }
.scrollable-outline { height: 220px; overflow: auto; }
.scrollable-code>p { padding-right: 15px; }
.navbar-fixed-bottom { height: 40px; }
div.row-fluid:after { clear: both; }