@font-face {
	font-family: DroidSansMono;
	src: url('../fonts/DroidSansMono.ttf');
}

/*********General*********/
body { padding: 7em 0 2em 0; }
html, body { height: 87% }
/*********General*********/

/*********Fixed Header-Footer*********/
@media screen {
  body>div.navbar { position:fixed; }
  body>div#footerContainer { position:fixed; }
 * html body { overflow:hidden; } 
 * html div.container-fluid { height:90%; overflow:auto; }
/*********Fixed Header-Footer*********/

/*********Navigation*********/
div.navbar { position:absolute; top:0; left:0;width: 100%; height: 3em; }
div.navbar ul.nav li { margin: 0 1em; }
  .navbar .nav > li > a { line-height: 50px; text-shadow:none; font-size: 14px; font-weight: bold; }
/*********Navigation*********/

/*********Main Content*********/
div.container-fluid #welcomeText, div.container-fluid #howTo { text-align: center; }
div.container-fluid #welcomeText h1, div.container-fluid #howTo h1 { font-size: 2em; font-weight: 800; }
div.container-fluid #howTo img { margin: 1em 0; }
div.container-fluid #howTo p { text-align: left; }
div.container-fluid #howTo h3 { text-align: left; }
div.container-fluid #howTo p.indent {text-indent: 4em; }
div.container-fluid #howTo pre.prettyprint { width: 45%; padding: 0 3px; margin: 0 auto; }
div.container-fluid #leftColumnMain { width: 90%; margin: 5em auto 0 auto; }
div.container-fluid #leftColumnMain pre.prettyprint { width: 90%; padding: 0 0 0 10px; margin: 0; }
div.container-fluid #mainPageForm { width: 90%; margin: 5em auto 0 auto; overflow: visible; }
div.row-fluid h1 {}
div.row-fluid p {}
/*********Main Content*********/

/*********Footer*********/
div#footerContainer { position:absolute; bottom:0; left:0; width:100%; background: #75BCEF; height: 2em; margin: 2em 0 0 0; padding: 0.4em 0; }
div.container-fluid #footer { width: 100%; margin: 0 auto; background: #75BCEF;  padding: 0; }
div.container-fluid #footer p { text-align: center; line-height: 1.5em; }
/*********Footer*********/

/*********Social*********/
ul#social { list-style-type: none; float: right; clear: both; padding: 0; margin: 0; }
ul#social li { display: inline; margin: 0 0.3em 0 0; }
/*********Social*********/

/*********Testing*********/
div.container-fluid { height: 100%; }
div.row-fluid { height: 100%; }
div.fullHeight { height: 100%; }
/*********Testing*********/

/*********Facts*********/
#facts { background: #fff; border: 2px solid #75BCEF; margin: 0 0 1em 0; overflow: auto; height: 100%;  }
div.scrollable-facts {  }
/*********Facts*********/

/*********Code*********/
#code { background: #F5F5F5; font-family: DroidSansMono; border: 2px solid #75BCEF; overflow: auto; height: 100%;}
/*********Code*********/

/*********Informing Text After Submitting something*********/
#informingText { float: left; color: #fff; margin: 0; padding: 0; }
/*********Informing Text After Submitting something*********/

/*********Forms*********/
div.control-group label.control-label { width: 100%; text-align: left; }
form.form-horizontal div.controls { margin: 0; width: 70%; margin: 0; padding: 0; }
form.form-horizontal div.controls input { width: 85%; }
form.form-horizontal p.help-block { color: #555555; margin: 0; padding: 0; width: 70%; }
form.form-horizontal div.form-actions { background: transparent; width: 70%; margin: 1em 0 0 0; padding: 0; }
div.form-actions button { float: left; margin: 0 1em 0 0; }
form.form-horizontal span.label { width: 50%; }

form.contact fieldset { margin: 0 auto; width: 60%; }
form.contact div.control-group { width: 80%; margin: 0 auto; }
form.contact div.control-group label { width: 100%; text-align: left; }
form.contact div.controls { float: left; width: 70%; margin: 0; padding: 0; }
form.contact div.controls span { float: left; margin: 0.5em 0 0 0; }
form.contact div.controls input { float: left; width: 100%; }
form.contact div.controls textarea { width: 100%; }
form.contact p.help-block { color: #555555; margin: 0; padding: 0; width: 70%; }
form.contact div.form-actions { background: transparent; width: 50%; margin: 1em 0 0 4em; padding: 0; }
form.contact div.form-actions button { float: left; margin: 0 1em 0 0; }

#id_new_email_address_1, #id_new_email_address_2 { width: 50%; }
/*********Forms*********/

.navbar .nav > li > a { line-height: 50px; text-shadow:none; font-size: 14px; font-weight: bold; }
/*********Accordion*********/
div.accordion-group { width: 98%; margin: 0 auto; }
div.accordion-group { width: 98%; margin: 0 auto; }
div.accordion-heading { background: #DDEAF6; width: 100%; border: 1px solid #75BCEF; }
div.accordion-heading table, div.accordion table { width: 100%; }
div.accordion-heading table tr, table.tableFormat { width: 100%; }
div.accordion-heading table tr th.small, div table.tableFormat tr th.small { width: 20%; }
div.accordion-heading table tr th.big, div table.tableFormat tr th.big { width: 50%; }
#collapse { background: #F5F5F5; width: 100%; border: 1px solid #75BCEF; }
span.noErrors p { color: #347C17; margin: 2em 0 0 2em; font-weight: 900; }
div.accordion-heading .accordion-toggle { padding: 8px 0 ; }
a.seeCode { float: right; font-weight: 900; color: #FF0000; clear: both; text-decoration: underline; }
a.seeCode:hover { color: #FF0000; }
/*********Accordion*********/

/*********Other*********/
/*.scrollable-code { height: 470px; overflow: auto; }
.scrollable-facts { height: 120px; overflow: auto; }
.scrollable-outline { height: 220px; overflow: auto; }*/
div.row-fluid:after { clear: both; }
/*********Other*********/