{% extends "formtools/base.html" %}

{% block content %}

<br>
{% if form.errors %}<h1>Please correct the following errors</h1>{% else %}<h1>Submit</h1>{% endif %}
<br><br>

<form action="" class="form-vertical" method="post">{% csrf_token %}

    <fieldset>

        {% for field in form %}

            {% if field.errors %}
                <div class="control-group error">
            {% else %}
                <div class="control-group">
            {% endif %}

            <label class="control-label" for="{{ field.label }}">{{ field.label }}</label>


            <div class="controls">
                {{ field }}
                <p class="help-block">{{ field.help_text }}</p>
                {{ field.errors }}
            </div> </div>
            <br>
        {% endfor %}

        <div class="form-actions">
            <input type="hidden" name="{{ stage_field }}" value="1" />
            <button type="submit" value="Preview" class="btn btn-primary"><i class="icon-ok icon-white"></i> Preview</button>
            <button type="reset" class="btn"><i class="icon-remove"></i> Reset form</button>
        </div>
    </fieldset>
</form>

{% endblock %}
