# Folders to ignore
.hg
.svn
.CVS
.idea
.idea_modules
nbproject
.project
.DS_Store
*.komodoproject
.komodotools
.settings
.tmproj
*.esproj
.cache
uploads

# Data files to ignore
*.pyc
*.pyo
*.db
#*.json
#*.sh
*.class
*.log
#*.xml
*.iml
*.csv
# These 4 entries below are not a good idea in their current state.
# Please add file endings to them but don't ignore all file types containing
# these words.
*BACKUP*
#*BASE*
*LOCAL*
*REMOTE*
.pydevproject
