<!DOCTYPE html>
<html>

<head>
    <title>{% block title %}{% endblock title %}</title>

    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap-2.0.4.css">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/style.css">
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/prettify.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.validate.js"></script>
    <script type="text/javascript">
    	$(document).ready(function() {
    	});
    </script>
</head>

<body onload="prettyPrint()">
    {% block header %}	
    <div class="navbar">
		<div class="navbar-inner">
			<div class="container">
				<a class="brand" href="#"><img src="{{ STATIC_URL }}img/draft2.png"></a>
				<ul class="nav">
					<li><a href="{% url main-page %}">Home</a></li>
					<li><a href="{% url howto-page %}">HowTo</a></li>
<!-- I have to implement it with jquery. A pop up window on the middle of the page when the user clicks on Contact Us -->
					<li><a href="{% url contact-page %}">Contact Us</a></li>
					{% if user.is_authenticated %}
						<li><a href="{% url account-page %}">Account</a></li>
						<li><a href="{% url logout-page %}">Log Out</a></li>
					{% endif %}	
				</ul>
			</div>
		</div>
	</div>
	{% endblock header %}
    {% block content %}{% endblock content %}
    {% block footer %}        
    <div class="container-fluid">
            <div class="row-fluid">
                <div class="span12"></div>
                    <div id="footer">
                        <p>Copyright &copy; BugEx Online</p>
                    </div>  
            </div>	
	</div>	
	{% endblock footer %}
</body>

</html>