{% extends "bugex_webapp/base.html" %}

{% block title %}Contact Page{% endblock title %}

{% block contact %}<li class="active"><a href="#">{% endblock contact %}

{% block content %}
	<div class="container-fluid">
		<div class="row-fluid">
        	<div class="span1"></div>
            <div class="span1"></div>
			<div class="span8">
            	<div id="welcomeText">
                	<h2>Contact Page</h2>
                    <form class="form-horizontal contact" method="post" accept-charset="UTF-8" action="">{% csrf_token %}

                        <fieldset>

                            {% for field in form %}

                                {% if field.errors %}
                                    <div class="control-group error">
                                {% else %}
                                    <div class="control-group">
                                {% endif %}

                                        <label class="control-label" for="{{ field.label }}">{{ field.label }}</label>


                                        <div class="controls">
                                            {{ field }}
                    
                                            {% for error in field.errors %}
                                                <span class="label label-important">{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                    </div>
                            {% endfor %}

                            <div class="form-actions">
                                <button type="submit" class="btn btn-primary"><i class="icon-ok icon-white"></i> Submit</button>

                                {% if message %}

                                    {% if message == "Thank you very much! We received your email." %}
                                        <div class="alert alert-success fade in">
                                            <a class="close" data-dismiss="alert" href="#">&times;</a>
                                            {{ message }}
                                        </div>

                                    {% elif message == "Unfortunately, your contact request could not be processed." %}

                                        <div class="alert alert-error fade in">
                                            <a class="close" data-dismiss="alert" href="#">&times;</a>
                                            {{ message }}
                                        </div>

                                    {% endif %}

                                {% endif %}
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>                          
		</div>
	</div>	
{% endblock content %}