{% extends "base.html" %}

{% block title %}BugEx How To{% endblock title %}

{% block content %}
	<div class="container-fluid">
		<div class="row-fluid">
                    <div class="span1"></div>
                    <div class="span1"></div>
			<div class="span8">
                            <div id="howTo">
                                <h1></h1>
                                <p>blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah</p>
                                <img src="{{ STATIC_URL }}img/DumpImage.png" />
                                <p>blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah</p>
                                <p>blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah </p>
                                <p>blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah </p>
                                <p>blah blah blah blah blah blah blah blah blah blah blah blah blah</p>      
                                <img src="{{ STATIC_URL }}img/DumpImage.png" />
                                <p>blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah </p>
                                <p>blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah </p>
                            </div> 
			</div>
		</div>	
	</div>
{% endblock content %}