{% extends "bugex_webapp/base.html" %}

{% block title %}BugEx Main Page{% endblock title %}

{% block content %}

<div class="container-fluid">
  <div class="row-fluid">
    <div class="span1"></div>
    <div class="span1"></div>
    <div class="span8">

      <div id="welcomeText">
        <h3>BugEx is a bug explanation tool that has been developed with the goal to support you with additional information about a failure such that you can easily understand the underlying problem.</h3>
        <h3>Detailed information on how to use BugEx Online can be found on our <a href="{% url howto-page %}">HowTo</a> page.</h3>
      </div>

      <div class="row-fluid">
        <div class="span6">
          <div id="leftColumnMain">
            <h3>Code Archive</h3>
            <p>The archive you submit needs to include all external dependencies. Accepted formats are .zip and .jar.</p>
            <h3>Test case</h3>
            <p>The failing test case you want BugEx to analyze needs to be a JUnit test method and must be specified as a string of the following form: "package.containing.test.case.Class#failingTest".</p>
          </div>
        </div>

        <div class="span6">
          <div id="mainPageForm">
            <h3>Submit your code</h3>
            <form class="form-horizontal" enctype="multipart/form-data" method="post" accept-charset="UTF-8" action="">{% csrf_token %}

              {% if messages %}

              {% for message in messages %}
              {% if message.tags == 'success' %}
              <div class="alert alert-success fade in">
                <a class="close" data-dismiss="alert" href="#">&times;</a>
                {{ message }}
              </div>
              {% endif %}
              {% endfor %}
              {% endif %}

              <fieldset>

                {% for field in form %}

                {% if field.errors %}
                <div class="control-group error">
                  {% else %}
                  <div class="control-group">
                    {% endif %}

                    <label class="control-label" for="{{ field.label }}">{{ field.label }}</label>

                    <div class="controls">
                      {{ field }}
                      {% for error in field.errors %}
                      <span class="label label-important">{{ error }}</span>
                      {% endfor %}
                    </div>
                  </div>
                  {% endfor %}

                  <div class="form-actions">
                    <button type="submit" class="btn btn-primary"><i class="icon-ok icon-white"></i> Submit</button>
                  </div>
              </fieldset>
            </form>
            </div>
          </div>
	</div>
      </div>
    </div>
  </div>

{% endblock content %}
