{% extends "bugex_webapp/base.html" %}

{% block title %}BugEx Main Page{% endblock title %}

{% block content %}

	<div class="container-fluid">
		<div class="row-fluid">
                    <div class="span1"></div>
                    <div class="span1"></div>
			<div class="span8">
                            <div id="welcomeText">
                                <h1>BugEx is a bug explanation tool that has been developed with the goal to support you with additional information about a failure such that you can easily understand the underlying problem.</h1>
                                <h1>Tutorial for BugEx Online can be found on <a href="{% url howto-page %}">HowTo</a></h1>
                            </div>
                            <div class="row-fluid">
                                <div class="span6">
                                    <div id="leftColumnMain">
                                        <h2>Project</h2>
                                        <p>blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah </p>
                                        <h2>FTCMN</h2>
                                        <p>blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah </p>
                                    </div>
                                </div>
                                <div class="span6">
                                    <div id="mainPageForm">
                                    	<h2>Input Form</h2>
                                    	<script>
                                        $(document).ready(function() {
                                			// validate signup form on keyup and submit
                              				var validator = $("#uploadForm").validate({
                                          		rules: {
		                                              email: { required: true, email: true },
		                                              fctmn: { required: true },
		                                              projectFile: { required: true },
		                                              copyrights: { required: true }
		                                        },
                                          		messages: {
                                              		email: { required: "Enter an Email address", minlength: "Enter a valid email address" },
                              						projectFile: { required: "Give the project files" },
                                                	copyrights: { required: "Specify that you have the copyrights for this code" },
                                              		fctmn: { required: "Specify the FCTMN" }
                                          		},
                                          		// the errorPlacement has to take the table layout into account
                                          		errorPlacement: function(error, element) {
	                                                  if ( element.is(":radio") )
	                                                          error.appendTo( element.parent().next().next() );
	                                                  else if ( element.is(":checkbox") )
	                                                          error.appendTo ( element.next() );
	                                                  else error.appendTo( element.parent().next() );
                                          		},
                              					// specifying a submitHandler prevents the default submit, good for the demo
                              					submitHandler: function() {
                              						$('#informingText').fadeIn('slow');
                              					},
                              					// set this class to error-labels to indicate valid fields
                              					success: function(label) {
                              					// set &nbsp; as text for IE
                              						label.html("&nbsp;").addClass("checked");
                              					}
                              				});
                              	        });
                                    	</script>
                                    	    <form action="/upload/" method="post">{% csrf_token %}
        										{% comment %} {{ form.as_p }} {% endcomment %}
        										    <form action="" method="POST" id="uploadForm" autocomplete="off" enctype="multipart/form-data">
											            <table>
											                <tr>
											                    <td class="label"><label id="lemail" for="email">Your Email:</label></td>
											                    <td class="field"><input type="text" id="email" name="email" value=""/></td>
											                    <td class="status"></td>
											                </tr>
											                <tr>
											                    <td class="label"><label id="lproject" for="projectFile">Project:</label></td>
											                    <td class="field"><input type="file" id="projectFile" name="projectFile"/></td>
											                    <td class="status"></td>
											                </tr>  
											                <tr>
											                    <td class="label"><label id="lftcmn" for="fctmn">FTCMN:</label></td>
											                    <td class="field"><input type="text" id="fctmn" name="fctmn" value=""/></td>
											                    <td class="status"></td>
											                </tr>                
											                <tr>
											                    <td class="label"><label id="lcopyrights" for="copyrights">Copyrights</label></td>
											                    <td class="field" colspan="2">
											                        <div id="copyrightswrap">
											                            <input type="checkbox" id="copyrights"  name="copyrights" />
											                            <label id="lcopyrightText" for="copyrights">I own the copyrights for this project</label>
											                        </div>
											                    </td>
											                </tr>             
											                <tr>
											                    <td class="field" colspan="2">
											                    <button class="btn btn-primary" type="submit" value="Submit" title="Submit"></button>
											                    </td>
											                </tr>                
											            </table>
                      									<div id="informingText">Uploading... Please do not close the Browser!</div>
          											</form>
        										<!--<button class="btn btn-primary" type="submit" value="Submit" title="Submit"></button>-->
        										<!-- <div id="informingText"><p>Uploading...</p><p>Please do not close the Browser!</p></div> -->
    										</form>
                                    </div>
                                </div>
                            </div>
                             
                            
			</div>
		</div>	
	</div>

{% endblock content %}