{% extends "bugex_webapp/base.html" %}

{% block title %}Results Overview{% endblock title %}

{% block content %}

<div class="container-fluid">
    <div class="row-fluid">
        <div class="span1"></div>
        <div class="span1"></div>
        <div class="span8">

            <div id="welcomeText">
                <h3>{{ message }}</h3>
            </div>
	    <ul class="resultsList">
	        {% for request in requests_by_user %}
		    {% if not request.status == 8 %}
		        <li>Request {{ forloop.counter }}, created on {{ request.date }}
			    <ul class="resultItem">
			        <li>Code archive: {{ request.codearchive.name }}</li>
				<li>Test case: {{ request.test_case.name }}</li>
				<li><a class="btn" href="/result/{{ request.token }}">Results</a> <a class="btn" href="/delete/{{ request.delete_token }}">Delete</a></li>
	                    </ul>
                        </li>
		    {% else %}
		        <li>Request {{ forloop.counter }}, created on {{ request.date }} (DELETED)</li>
		    {% endif %}
		{% endfor %}
	    </ul>
        </div>
    </div>
</div>

{% endblock content %}
