{% extends "bugex_webapp/base_with_registration.html" %}

{% block title %}BugEx User Page{% endblock title %}

{% block content %}
	<div class="container-fluid">
		<div class="row-fluid">
        	<div class="span1"></div>
            <div class="span1"></div>
			<div class="span8">
            	<div id="welcomeText">
                	<h1>User Page</h1>
                </div>
                            <div class="row-fluid">
                            	<h1>Change email address</h1>
                            	<p>If you wish to change your email address please fill the following fields out</p>
								<form action="" method="POST" id="changeEmailForm" autocomplete="off" enctype="multipart/form-data">{% csrf_token %}
									<table>
										<tr>
											<td class="field"><input type="text" id="email" name="email" value="" placeholder="New email address"/></td>
											<td class="status"></td>
										</tr>
										<tr>
											<td class="field"><input type="text" id="email_retype" name="email_retype" placeholder="Re-type email address"/></td>
											<td class="status"></td>
										</tr>
										<tr>
											<td class="field"><input type="text" id="password" name="password" placeholder="Your current password"/></td>
											<td class="status"></td>
										</tr>										
										<tr>
											<td class="field" colspan="2">
												<button class="btn btn-primary" type="submit" value="Change Email!" title="Change Email!"></button>
											</td>
										</tr>
									</table>
								</form>
                            	<h1>Change password</h1>
                            	<p>If you wish to change your password please click on the following button</p>
								<a class="btn" href="">Change Password!</a>
                            	<p>The new password will be sent to your email address</p>
                            </div>
            </div>                          
		</div>
	</div>	
{% endblock content %}