{% extends "bugex_webapp/base.html" %}

{% block title %}404 - BugEx Online{% endblock title %}

{% block content %}
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span1"></div>
        <div class="span1"></div>
        <div class="span8" align="center">
            <h1>404</h1>
            <h3>We are sorry. The page you are looking for does not exist.</h3>
            <img src="{{ STATIC_URL }}img/BugEx-Xray1.png" alt="BugEx Online X-ray Logo">
        </div>
    </div>
</div>
{% endblock content %}