{% extends "bugex_webapp/base.html" %}

{% block title %}500 - BugEx Online{% endblock title %}

{% block content %}
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span1"></div>
        <div class="span1"></div>
        <div class="span8" align="center">
            <h1>500</h1>
            <h3>We are sorry. An internal server error ocurred and there is nothing you can do about it.</h3>
            <br><br>
            <img src="{{ STATIC_URL }}img/BugEx-Xray1.png" alt="BugEx Online X-ray Logo">
        </div>
    </div>
</div>
{% endblock content %}
